/* Import fonts */
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);

/* BASIC THEME CONFIGURATION */
body {
  min-height: 60px;
  padding: 0 15px;
  color: #494E6B;
  background: #E5D6C2;
  font-family: 'Slabo 27px', serif;
  padding: 0px !important;
  margin: 0px !important;
  font-size:25px;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {
  background-color: #111;
}

ul.topnav li.icon {
  display: none;
}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {
    display: none;
  }
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {
    position: relative;
  }
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: auto;
  transition: 0.5s;
  padding-top: 20px;
}

.sidenav a {
  padding: 8px 8px 0 8px;
  text-decoration: none;
  font-size: 20px;
  color: ##E7ECEE;
  display: block;
  transition: 0.3s
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 80%;
  width: 100%;
  background-color: ##985E6D;
}

li a {
  display: block;
  color: #E7ECEE;
  padding: 8px 0 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #985E6D;
  color: white;
}

.active {
  background-color: #985E6D;
  color: white;
}

.closebtn {
  color: white;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px !important;
  margin-left: 50px;
}

ul.top-menu > li > .logout {
  color: #f2f2f2;
  font-size: 12px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #64c3c2 !important;
  padding: 5px 15px;
  margin-right: 15px;
  background: #68dff0;
  margin-top: 15px;
}

#top_menu .nav > li, ul.top-menu > li {
  float: left;
}

ul.top-menu > li > a {
  color: #666666;
  font-size: 16px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  border:1px solid #666666 !important;
  padding: 2px 6px;
  margin-right: 15px;
}

ul.top-menu > li > a:hover, ul.top-menu > li > a:focus {
  border:1px solid #b6b6b6 !important;
  background-color: transparent !important;
  border-color: #b6b6b6 !important;
  text-decoration: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #b6b6b6 !important;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.img-circle {
  border-radius: 50%;
}

#main-container{
  width:580px;
  height:500px;
  margin:0 auto;
  position:relative;
  top:10px;
}

/* Grid http://jsfiddle.net/kaiser/H9Sf4/ */
.grid-half {
  display: table;
  position: relative;
  float: left;
  width: 49.8%;
  height: 51%;
}

.grid-half .ui-link {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.grid-half .grid-icon-container {
  display: block;
  position: relative;
  top: 25%;
  height: 50%;
  width: 50%;
  margin: 0 auto;
}

.grid-half .icon-font {
  display: block;
  position: relative;
  height: 75%;
  width: 100%;
  margin: 0 auto;
}

.grid-icon-text {
  display: block;
  position: relative;
  height: 25%;
  width: 100%;
}

.icon-font {
  color: #494E6B;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/*Helpers*/
.centered {
  text-align: center;
}
.goleft {
  text-align: left;
}
.goright {
  text-align: right;
}
.mt {
  margin-top: 40px;
}
.mb {
  margin-bottom: 25px;
}
.ml {
  margin-left: 12px;
}
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.user-img {
  margin-left: 65px;
}
